#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  }

.card{
  border: 2px solid red;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.120s;
  }
.card:hover{
  box-shadow: 0.2rem 0.3rem rgb(134, 99, 99);
  translate: -0.2rem -0.2rem;
}
.card > img{
  width: auto;
  height: auto;
}
.card > h2{
  font-size: 2em;
}